
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-global {
    background-image: url('gs://hotel-booking-app-a083a.appspot.com/Background-images/peop.png.jpg'); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    position: relative;
    z-index: -1; 
}
